.home-widget-1
	background-size: cover !important
	background-position: center !important
	padding: 300px 0
	text-align: center
	h1
		font-size: 60px
		color: $accentColor

.home-widget-2
	background: $accentColor
	color: $textColor
	text-align: center
	padding: 150px 0
	.widget-title
		color: $textColor
	.practice-details
		p
			margin: 0 auto


.home-widget-3
	text-align: center
	padding: 150px 0

.home-widget-4
	background-size: cover !important
	background-position: center !important
	padding: 150px 0
	text-align: center

.home-widget-5
	text-align: center
	padding: 150px 0
